body {
    background-color: #000000;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.header {
    font-family: 'Oswald', sans-serif;
    position: sticky;
    padding: 20px 5%;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #000000;
    z-index: 1;
}

.Logo {
    color: #90e0ef;
    font-size: 40px;
    text-decoration: none;
}

.nbar a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin-left: 25px;
    position: relative;
}

.navlink::after {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    bottom: -0.3rem;
    width: 0;
    background-color: #90e0ef;
    transition: 0.3s ease-in-out;
}

.navlink:hover::after {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    bottom: -0.3rem;
    width: 100%;
    background-color: #90e0ef;
}

.home {
    margin-bottom: 0px;
    margin-top: 50px;
}

.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.home-info {
    width: 400px;
}

.home-info h1 {
    font-size: 50px;
}

.home-info p {
    font-size: 25px;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.socialid {
    transition: transform 0.4s ease;
    margin: 5px;
}

.socialid:hover {
    transform: scale(1.5);
}

.imgprof img {
    border-radius: 50%;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 40px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.col2 {
    width: 40%;
}

.col1 {
    width: 40%;
}

.col2 h1 {
    font-size: 40px;
}

.col1 h1 {
    font-size: 40px;
    text-align: center;
}

.row1 {
    width: 90%;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skillsarea{
    display: flex;
    flex-direction: column;
}

.skill{
    position: relative;
    margin-bottom: 30px;
}

.skilltitle{
    font-size: 20px;
    margin-bottom: 10px;
}

.skillbar{
    width: 100%;
    height: 22px;
    background: white;
    border-radius: 80px;
    position: absolute;
    z-index: -1;
}

.skillfill{
    background: blue;
    height: 22px;
    border-radius: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    overflow: hidden;
}

.skillpercent{
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
}

.html{
    animation: html 1s;
    width: 80%;
}

.css{
    animation: css 1s;
    width: 70%;
}

.js{
    animation: js 1s;
    width: 30%;
}

.node{
    animation: node 1s;
    width: 20%;
}

.csharp{
    animation: csharp 1s;
    width: 10%;
}

@keyframes html{
    from{
        width: 0;
    }
    to {
        width: 80%;
    }
}

@keyframes css{
    from{
        width: 0;
    }
    to {
        width: 70%;
    }
}

@keyframes js{
    from{
        width: 0;
    }
    to {
        width: 30%;
    }
}

@keyframes node{
    from{
        width: 0;
    }
    to {
        width: 20%;
    }
}

@keyframes csharp{
    from{
        width: 0;
    }
    to {
        width: 10%;
    }
}

.project {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -30px;
}

.card {
    width: 400px;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 500px;
    height: auto;
}

.content {
    padding: 16px;
}

.more {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #333;
    font-weight: bold;
    transition: 0.2s ease;
}

.more:hover {
    background-color: #14213d;
}

.headingpro {
    display: flex;
    margin: 30px 100px;
    font-weight: bold;
    font-size: larger
}

.form {
    width: 340px;
    height: 400px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #5f5e5e;
    padding: 20px 40px;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 40px;
}

.form h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: black;
    border-bottom: 3px solid black;
}

.form input {
    width: 100%;
    padding: 10px;
    background: none;
    border: 0;
    border-bottom: 2px solid black;
}

.form p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: black;
}

.form button {
    float: right;
    padding: 8px 12px;
    margin: 10px 5px;
    border: 2px solid black;
    background: 0;
    color: black;
    cursor: pointer;
    transition: all .3s
}

.form button:hover {
    background: black;
    color: #fff;
}

.address {
    color: black;
    padding: 20px;
    margin-top: 15px;
    margin-right: 20px;
}  
